{#{{ dump() }}#}

<div {{ attributes.addClass('row') }}>
  {%  if content.top %}
    <div {{ region_attributes.addClass('col-12').addClass('dash-top') }}>
      {{ content.top }}
    </div>
  {% endif %}
  <div {{ region_attributes.removeClass('col-12').addClass('col-md-6').removeClass('dash-top').addClass('dash-left') }}>
    {{ content.left }}
  </div>
  <div {{ region_attributes.removeClass('dash-left').addClass('dash-right') }}>
    {{ content.right }}
  </div>
  {%  if content.bottom %}
    <div {{ region_attributes.removeClass('col-md-6').addClass('col-12').removeClass('dash-right').addClass('dash-bottom') }}>
      {{ content.bottom }}
    </div>
  {% endif %}
</div>
