{{ content.messages }}
<div {{ attributes.addClass('row') }}>
  <div {{ region_attributes.addClass('dash-left').addClass('col-md-6') }}>
    {{ content.left }}
  </div>
  <div {{ region_attributes.addClass('dash-right').addClass('col-md-6') }}>
    {{ content.right }}
  </div>
</div>
