{% include directory ~ '/templates/parts/header.html.twig' %}
<main{{ attributes.addClass(classes).setAttribute('role', 'main') }}>
  <a id="main-content" tabindex="-1"></a>{# link is in html.html.twig #}

  <div class="layout-content">
    {{ page.breadcrumb }}

    {{ page.help }}

    {{ page.content }}
  </div>
  {%
  set classes = [
    'layout-main',
  ]
  %}
  {% if page.sidebar_first %}
    <aside class="layout-sidebar-firs" role="complementary">
      {{ page.sidebar_first }}
    </aside>
  {% endif %}

</main>
