{% include directory ~ '/templates/parts/header.html.twig' %}
{%
set classes = [
'flex-fill',
'flex-container',
'flex-container-rows',
]
%}
<main{{ attributes.addClass(classes).setAttribute('role', 'main') }}>
  <a id="main-content" tabindex="-1"></a>{# link is in html.html.twig #}

  <div class="layout-content flex-fill flex-container">
    {{ page.breadcrumb }}

    {{ page.help }}

    {{ page.content }}
  </div>
N
  {% if page.sidebar_first %}
    <aside class="layout-sidebar-first flex-container" role="complementary">
      {{ page.sidebar_first }}
    </aside>
  {% endif %}

</main>
